#Ignore files build by Visual Studio
*.vcxproj
*.vcxproj.filters
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/

#Ignore log files
log*
output.txt

#Ignore data files
*.fa
SWINEPOX_SIMULATED_READS.txt
FIRST_SET_OF_CONTIGS_REASONABLE_TEST.txt
Swinepox_NC_00389_simreads_SHORTVER.txt
output.txt
overlap_log
.gitignore.orig
Assembler.cpp.orig
Assembler.h.orig
GeneralSuffixTree.cpp.orig
GeneralSuffixTree.h.orig
main.cpp.orig
Node.cpp.orig
Overlap.cpp.orig
Overlap.h.orig
SuffixTree.cpp.orig
SuffixTree.h.orig
TestSuite.h.orig
6180_1#1_1.fastq
fastq.txt
H37Rv_final.FASTA
H37Rv_final_simreads.FASTA
kseq.h
SUFFIX_TREE_VS_V2.exe
CompareNode.h
SWINEPOX_SIMULATED_READS_10k.txt
CompareOverlap.cpp
contig_log
ContigLogger.cpp
ContigLogger.h
FASTQ_FileReader.cpp
FASTQ_FileReader.h
Swinepox_NC_003389_simreads.FASTA
