#Ignore files build by Visual Studio
*.vcxproj
*.vcxproj.filters
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/

#Ignore log files
log*
output.txt

#Ignore data files
*.fa
Swinepox_NC_00389_simreads_SHORTVER.txt
SWINEPOX_SIMULATED_READS.txt
overlap_log
FIRST_SET_OF_CONTIGS_REASONABLE_TEST.txt
