#Ignore files build by Visual Studio
*.vcxproj
*.vcxproj.filters
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/

#Ignore log files
log*
output.txt

#Ignore data files
*.fa
SWINEPOX_SIMULATED_READS.txt
FIRST_SET_OF_CONTIGS_REASONABLE_TEST.txt
Swinepox_NC_00389_simreads_SHORTVER.txt
output.txt
overlap_log
.gitignore.orig
Assembler.cpp.orig
Assembler.h.orig
GeneralSuffixTree.cpp.orig
GeneralSuffixTree.h.orig
main.cpp.orig
Node.cpp.orig
Overlap.cpp.orig
Overlap.h.orig
SuffixTree.cpp.orig
SuffixTree.h.orig
TestSuite.h.orig
